body {
  font-family: sans-serif;
  background-color: #31343F;

  h1 {
    color: #A5EDA3;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    border: 2px dashed #B86C69;
    padding: 20px;
    list-style: none;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    transition: 600ms;
    &:hover {
      cursor: pointer;
    }

    li {
      color: #E2B848;
      padding: 5px 0;
    }
  }
}

.color-border {
  border-color: #79D5EA;
}
